<template>
	<div class="main">
		<div class="about m-5">
			<h2>Name's Evan</h2>
			<h4>Nice to meet you.</h4>
			<p>
				I'm an aspiring full-stack developer based in Brockport, New York.
			</p>
			<p>
				I attended the local college for a bachelor's degree in Computer Information Systems. Feeling unchallenged by the curricula, I took it upon myself to study web development in my free time.
			</p>
			<p>
				The technologies I use are both wide in spectrum and deep in complexity. I honestly feel like I'm in a state of constantly relearning instead of remembering! Still, I know enough of everything to make anything, so to speak. It's a question of when, not if, it can be done.
			</p>
			<h6 class="col">View my resume</h6>
			<h6 class="col">See my previous work</h6>
			<h6 class="col">My thoughts, and musings</h6>
		</div>
	</div>
</template>