<template>
	<div class="main">
		<div class="home m-5">
			<img src="img/logo.svg" alt="Letters E and L with a colon"/>
			<h1>evan ling</h1>
			<hr>
			<p>full stack web developer</p>
			<h2>&lt; under construction &gt;</h2>
		</div>
	</div>
</template>
<script></script>