<template>
    <div class="main">
        <h1>{{ __('Login') }}</h1>

        <form method="POST" action="/login">
            @csrf
            <label for="email">Email Address</label>

            <input id="email" type="email" name="email" value="" required autofocus>

            <label for="password">{{ __('Password') }}</label>

            <input id="password" type="password" class="form-control{{ $errors->has('password') ? ' is-invalid' : '' }}" name="password" required>

            @if ($errors->has('password'))
            <span class="invalid-feedback">
                <strong>{{ $errors->first('password') }}</strong>
            </span>
            @endif

            <label>
                <input type="checkbox" name="remember" {{ old('remember') ? 'checked' : '' }}> {{ __('Remember Me') }}
            </label>

            <button type="submit" class="btn btn-primary">
                {{ __('Login') }}
            </button>

        </form>
    </div>
</template>