<template>
	<div class="main">
		<h1>Create a new project</h1>
		<form>
			<div class="control">
				<label for="title">Company Name</label>
				<br>
				<input class="form-control" type="text" v-model="company">
			</div>
			<div class="control">
				<label for="title">Company Url</label>
				<br>
				<input class="form-control" type="text" v-model="url">
			</div>
			<div class="control">
				<label for="body">Project Description</label>
				<br>
				<textarea class="form-control" v-model="description" id="" rows="10"></textarea>
			</div>
			<div class="control">
				<label for="photo">Upload a photo</label>
				<br>
				<input class="form-control" type="file" id="img" @change="newPhoto">
			</div>
			<div class="control">
				<label for="alt">Photo Description</label>
				<br>
				<textarea v-model="alt" cols="" rows="2" class="form-control"></textarea>
			</div>
			<button @click.preventDefault="submitForm()" class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</template>
<script>
export default {

	data() {
		return {
			company: '',
			url: '',
			description: '',
			alt: '',
			photo: ''
		}
	},

	methods: {
		newPhoto(e) {
			let photo = e.target.files

			this.photo = photo[0]

		},
		submitForm() {
			let data = new FormData();

			data.set('company', this.company);
			data.set('url', this.url);
			data.set('description', this.description);
			data.set('photo', this.photo);
			data.set('alt', this.alt);
			
			axios.post('/projects', data)
			.then((response) => {
				console.log(response);
				this.$router.push('/projects');
			})
		}
	}
}
</script>