<template>
	<div class="main">
		<h1>Edit a project</h1>
		<form>
			<label for="title">Company Name</label>
			<input class="form-control" type="text" v-model="project.company">
				<label for="title">Company Url</label>
				<input class="form-control" type="text" v-model="project.url">
				<label for="body">Project Description</label>
				<textarea class="form-control" v-model="project.description" id="" rows="10"></textarea>
				<label for="photo">Upload a photo</label>
				<input class="form-control" type="file" id="img" @change="newPhoto">
				<img v-if="project.pictures" :src="project.pictures[0].name" alt="" width="200" height="200">
				<label for="alt">Photo Description</label>
				<textarea v-if="project.pictures" v-model="project.pictures[0].alt" cols="" rows="2" class="form-control"></textarea>
				<button @click.preventDefault="submitForm()" class="btn btn-primary" type="submit">Submit</button>
				<button class="btn btn-danger" @click="deleteProject()">Delete</button>
			</form>
		</div>
	</template>
	<script>
	export default {

		data() {

		return {
			project: {},
			photo: '',
			alt: ''
		}
	},
	mounted() {

		axios.get('/projects/' + this.$route.params.id)
			.then(response => {
				this.project = response.data;
			});
	},
	methods: {

		newPhoto(e) {

			let photo = e.target.files;

			this.photo = photo[0];

		},

		submitForm() {

			let data = new FormData();

			data.append('photo', this.photo);
			data.append('project_id', this.project.id);
			data.append('alt', this.alt);

			axios.patch('/projects/' + this.$route.params.id, {
				company: this.project.company,
				url: this.project.url,
				description: this.project.description
			})
			.then((response) => {
				console.log(response);
			});
			axios.post('/photos', data)
			.then(response => {
				console.log(response);
				this.$router.push('/projects/' + this.$route.params.id);
			});
		},
		deleteProject() {
			axios.delete('/photos/' + this.project.pictures[0].id);
			axios.delete('/projects/' + this.project.id);
		}
	}
}
</script>