<template>
	<div class="main">
		<div class="m-5">
			<div v-for="project in projects">
				<div class="project">
					<img class="project__featured"v-for="photo in project.pictures" :src="'storage/' + photo.name" :alt="photo.alt">
					<router-link :to="'/projects/' + project.id ">
						<div class="project__overlay">
							<h2 class="project__overlay__text">{{ project.company }}</h2>
						</div>
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	
	export default {

		data() {
			return {
				projects: []
			}
		},

		mounted() {
			axios.get('/projects')
				.then(response => {
					this.projects = response.data
				})
				.catch(error => {
					console.log(error)
				});
		}
	}

</script>