<template>
	<div class="main">
		<div class="m-5">
			<h2><a :href="project.url">{{ project.company }}</a></h2>
			<p class="description">{{ project.description }}</p>
			<img class="img-show" v-for="photo in project.pictures" :src="'storage/' + photo.name" :alt="photo.alt">
		</div>
	</div>
</template>

<script>
	
	export default {

		data() {
			return {
				projectId: this.$route.params.id,
				project: '',
			}
		},

		mounted() {
			axios.get('/projects/' + this.projectId)
				.then(response => {
					this.project = response.data
				})
				.catch(error => {
					console.log(error)
				});
		}
	}

</script>