body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: #4d4c4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16.66666667%;
  margin-top: 5em;
  width: 100%;
  position: absolute;
  oveflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 5em);
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.about {
  position: absolute;
  max-width: 45em;
}

.m-5 {
  margin-top: 5em;
}

.control {
  margin-top: 2em;
}

.slide-enter {
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  overflow-y: hidden;
}

.slide-enter-to {
  opacity: 1;
  overflow-y: hidden;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slide-enter-active {
  position: absolute;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slide-leave {
  opacity: 1;
}

.slide-leave-to {
  opacity: 0;
}

.slide-leave-active {
  position: absolute;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 10;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 1px 2px 1px #cccccc;
          box-shadow: 0px 1px 2px 1px #cccccc;
  height: 5em;
  padding: 1em;
}

nav .left-nav {
  float: left;
  margin-left: 16.66666667%;
  width: 220px;
}

nav .left-nav__logo {
  width: 50px;
  margin-right: .5em;
}

nav .left-nav__nav-link {
  position: relative;
  bottom: .6em;
}

nav .left-nav__logo,
nav .left-nav__nav-link {
  float: left;
}

nav .right-nav {
  float: right;
  list-style-type: none;
  display: inline-block;
  margin-right: 16.66666667%;
}

nav .right-nav li {
  float: left;
  margin: 0 1em;
}

.nav-link,
.nav-link:visited,
.left-nav__nav-link,
a {
  color: #4d4c4c;
}

.nav-link,
.nav-link:visited,
.left-nav__nav-link {
  text-decoration: none;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  position: relative;
  float: left;
  margin: 1em;
  height: 20em;
  overflow: hidden;
  width: 30%;
}

.project__featured {
  position: relative;
  width: 100%;
}

.project__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
}

.project__overlay__text {
  color: #e6e5e5;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.project__overlay:hover {
  opacity: 1;
  background: rgba(38, 38, 38, 0.3);
}

.project__overlay:hover .project__overlay__text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.img-show {
  width: 100%;
}

.description {
  width: 45em;
  min-width: 300px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

hr {
  width: 50%;
  height: 1px;
  background: #cccccc;
  border: none;
}

