@import 'variables'
@function column-position($column)
	@return ($column / 12 * 100%)

body 
	background: $body-bg
	margin: 0
	font-family: 'Muli', sans-serif
	color: $text-primary
h1, h2, h3, h4, h5, h6 
	font-family: 'Roboto Slab', serif
	font-weight: normal
.main
	box-sizing: border-box
	padding: 0 column-position(2)
	margin-top: 5em
	width: 100%
	position: absolute
	oveflow-y: auto
	overflow-x: hidden
	height: calc(100vh - 5em)
.navbar-laravel 
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
.about 
	position: absolute
	max-width: 45em
.m-5
	margin-top: 5em
.control
	margin-top: 2em
.slide-enter
	opacity: 0
	transform: translateX(-200px)
	overflow-y: hidden
.slide-enter-to
	opacity: 1
	overflow-y: hidden
	transform: translateX(0px)
.slide-enter-active
	position: absolute
	transition: all 1s ease
.slide-leave
	opacity: 1
.slide-leave-to
	opacity: 0
.slide-leave-active
	position: absolute
	transition: all 1s ease

