nav
	position: absolute
	box-sizing: border-box
	width: 100%
	z-index: 10
	background: hsl(0, 0, 99%)
	box-shadow: 0px 1px 2px 1px hsl(0, 0, 80%)
	height: 5em
	padding: 1em
	.left-nav
		float: left
		margin-left: column-position(2)
		width: 220px
		&__logo
			width: 50px
			margin-right: .5em
		&__nav-link
			position: relative
			bottom: .6em
		&__logo,&__nav-link
			float: left
	.right-nav
		float: right
		list-style-type: none
		display: inline-block
		margin-right: column-position(2)
		li
			float: left
			margin: 0 1em
.nav-link, .nav-link:visited, .left-nav__nav-link, a
	color: hsl(0, 0, 30%)
.nav-link, .nav-link:visited, .left-nav__nav-link
	text-decoration: none