.projects
	display: flex
	justify-content: center
.project
	position: relative
	float: left
	margin: 1em
	height: 20em
	overflow: hidden
	width: 30%
	&__featured
		position: relative
		width: 100%
	&__overlay
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		top: 0
		height: 100%
		width: 100%
		transition: 0.3s all
		opacity: 0
		&__text
			color: hsl(0, 0, 90%)
			transform: translateY(50px)
			transition: 0.3s all
		&:hover
			opacity: 1
			background: hsla(0, 0, 15%, 0.3)
		&:hover &__text
				transform: translateY(0px)
.img-show
	width: 100%
.description
	width: 45em
	min-width: 300px
