<template>
	<div class="container">
		<div class="card-body">
			<div class="card w-75 mx-auto">
				<div class="card-header">Create a new post</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="title">Title</label>
							<input class="form-control" type="text" v-model="title">
						</div>
						<div class="form-group">
							<label for="body">Whatcha thinking about?</label>
							<textarea class="form-control" v-model="body" id="" rows="10"></textarea>
						</div>
						<button @click="submitForm()" class="btn btn-primary" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {

	data() {
		return {
			title: '',
			body: ''
		}
	},

	methods: {
		submitForm() {
			axios.post('/blog', {
				title: this.title,
				body: this.body
			})
			.then((response) => {
				console.log(response);
				this.$router.push('/blog');
			})
		}
	}
}
</script>