<template>
	<div class="container">
		<div class="card-body">
			<div class="card w-75 mx-auto">
				<div class="card-header">Edit a post</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="title">A different title?</label>
							<input class="form-control" type="text" v-model="post.title">
						</div>
						<div class="form-group">
							<label for="body">Something off?</label>
							<textarea class="form-control" v-model="post.body" id="" rows="10"></textarea>
						</div>
						<button @click="submitForm()" class="btn btn-primary" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {

	data() {
		return {
			post: {},
		}
	},
	mounted() {

		axios.get('/blog/' + this.$route.params.id)
			.then(response => {
				this.post = response.data;
			});

	},
	methods: {
		submitForm() {
			axios.patch('/blog/' + this.$route.params.id, {
				title: this.post.title,
				body: this.post.body
			})
			.then((response) => {
				console.log(response);
				this.$router.push('/blog/' + this.$route.params.id);
			})
		}
	}
}
</script>