<template>
	<div class="main">
		<div class="m-5">
			<div v-for="post in posts">
				<h2><router-link :to="'/blog/' + post.id">{{ post.title }}</router-link></h2>
				<h5>written {{ post.created_at }}</h5>
			</div>
		</div>
	</div>
</template>

<script>

    export default {

    	data() {
    		return {
    			posts: [],
    		}
    	},

    	mounted() {

    		axios.get('/blog')
	    		.then(response => {
	    			this.posts = response.data;
	    		})
	    		.catch(error => {
	    			console.log(error);
	    		});
	    	}
  		}

</script>