<template>
	<div>
		<h2>{{ post.title }}</h2>
		<h5>written {{ post.created_at }}</h5>
		<p>{{ post.body }}</p>
	</div>
</template>

<script>

    export default {

    	data() {
    		return {
    			postId: this.$route.params.id,
    			post: {}
    		}
    	},

    	mounted() {

    		axios.get('/blog/' + this.postId)
	    		.then(response => {
	    			this.post = response.data;
	    		})
	    		.catch(error => {
	    			console.log(error);
	    		});
	    	}
  		}

</script>